html {
    background-color: goldenrod;
}

.header-one {
    border: 5px solid black;
    border-width: 0.5rem;
    padding: 1.5rem;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

.navigation {
    font-size: 25px;
    font-family: monospace;
}

.logo-image {
    text-align: center;
}

.main-logo-description {
    text-align: center;
    font-size: medium;
    font-style: italic;
    border: 5px double black;
    margin-left: 32%;
    margin-right: 32%;
}

.paragraph {
    border: 5px solid black;
    text-align: center;
}

table, tr, th, td, caption {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.drink-menu-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.food-menu-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}
