html {
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: darkblue;
}

.contact-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

#figcaption-contact-us {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#legend {
    text-align: center;
}