* {
    background-color: rgb(75, 64, 64);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: burlywood;
}

h1 {
    color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 5px solid gold;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 3px;
    max-width: max-content;
}

nav {
    text-align: center;
    font-family: monospace;
}

a {
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    border-radius: 1rem; 
    padding: 0.5px;
    color: rgb(122, 106, 13);
    font-family: cursive;
    text-decoration: none;
}

li a:visited {
    color: burlywood;
}

li a:hover, li a:focus {
    color: hsl(51, 100%, 50%, 0.8)700;
    background: black;
}

li a:active {
    color: gold;
}

ul {
    list-style-type: none;
}

.logo-image, .main-logo-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
}

#AboutUs {
    border: 2px solid gold;
    color: burlywood;
    text-align: center;
    padding-bottom: 10px;
}

tr, th, td {
    border: 1px solid gold;
    padding: 5px;
    text-align: center;
}

table {
    border: 1px solid gold;
    margin: 0 auto;
}

#OurMenus {
    text-align: center;
}

footer {
    text-decoration: underline;
}

#survey {
    border: 2px solid gold;
}

#write-a-complaint {
    border: 2px solid gold;
}

h5 {
    font-size: 25px;
}