html {
    font-family: monospace;
    background-color: bisque;
}

h1 {
    font-size: 40px;
    color: black;
    background-color: blanchedalmond;
    padding-block: ;
    text-align: center;
}

p {
    font-family: monospace;
    color: white;
    background-color: green;
    font-size: 18px;
    text-align: center;
}

.navigation-link {
    font-size: 40px;
    scrollbar-highlight-color: greenyellow;
    color: darkblue;
    background-color: blanchedalmond;
    text-align: center;
}

button {
    color: dimgrey;
    font-family: fantasy;
    background-color: red;
}