* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #C4AF9A;
    scroll-behavior: smooth;
}

h1 {
    border: 3px solid #21A179;
    background-color: #C4AF9A;
    color: #1E1E24; 
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 1rem;
    text-align: center;
}

nav {
    border: 4px solid #21A179;
    background-color: #C4AF9A;
    color: #1E1E24;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    color: #1E1E24;
    text-decoration: none;
}

a:hover, a:focus {
    color: yellowgreen;
}

.contact-us-image {
    display: flex;
    justify-content: center;
}

#figcaption-contact-us {
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
    border: 5px double #21A179;
}

h2 {
    border: 3px solid #21A179;
    border-radius: 1rem;
    margin: auto;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin: auto;
    width: fit-content;
}

#legend {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin: auto;
    width: fit-content;
    border: 1px solid black;
}
