* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

.header-one {
    border: 3px solid goldenrod;
    border-radius: 1.5rem;
    background-color: black;
    color: goldenrod;
    text-align: center;
    width: 100;
    padding: 0.5rem;
    margin-top: 1rem;
}

nav {
    border: 5px double goldenrod;
    border-radius: 1rem;
    background-color: black;
    text-align: center;
    width: 30rem;
    margin: auto;
}

a {
    color: goldenrod;
    text-decoration: none;
    line-height: 1.5px;
}

a:hover, a:focus {
    color: gold;
}

ul {
    list-style-type: none;
}

.logo-image {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}

.main-logo-description {
    border: 2px solid goldenrod;
    border-radius: 1rem;
    background-color: black;
    color: goldenrod;
    justify-content: center;
    width: 35rem;
    margin: auto;
    margin-top: 1rem;
}

.AboutUs {
    text-align: center;
    border: 3px solid goldenrod;
    border-radius: 1rem;
    background-color: black;
    color: goldenrod;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
}

.Menus {
    border: 6px double goldenrod;
    margin-top: 1rem;
}

h3 {
    border: 2px solid gold;
    background-color: black;
    color: gold;
    text-align: center;
    width: 25rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table, tr, th, td, caption {
    border: 2.5px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.drink-menu-table, .food-menu-table {
    background-color: gray;
    color: gold;
    width: fit-content;
    margin: auto;
}

#back-to-top {
    border: 2px solid goldenrod;
    background-color: black;
    color: goldenrod;
    margin-top: 1rem;
    width: fit-content;
}