* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #292F33;
}

.header-one {
    width: max-content;
    margin: auto;
    margin-top: 10px;
/*     border: 2px solid #2EBFA5;
    background-color: #56CF9C; */
    color: #CCD6DD;
    text-align: center;
    padding: 0.5rem;
}

.container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #292F33;
    border: 2px solid #E1E8ED;
    border-radius: 1em;
    padding: 10px;
    flex-wrap: wrap;
}

.ul-item1, .ul-item2, .ul-item3, .ul-item4, .ul-item5, .ul-item6 {
    flex: 1;
    text-align: center;
}

/* nav {
    border: 5px double #C9CBA3;
    border-radius: 1rem;
    background-color: #723D46;
    text-align: center;
    width: 30rem;
    margin: auto;
} */

a {
    color: #CCD6DD;
    text-decoration: none;
    line-height: 1.5px;
}

a:hover, a:focus {
    color: #E26D5C;
}

ul {
    list-style-type: none;
}

/* .logo-image {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}

.main-logo-description {
    border: 2px solid #E1E8ED;
    border-radius: 1rem;
    background-color: #292F33;
    color: #CCD6DD;
    justify-content: center;
    width: 35rem;
    margin: auto;
    margin-top: 1rem;
} */

#AboutUs {
    text-align: center;
    /* border: 3px solid #E1E8ED;
    border-radius: 1rem;
    background-color: #2 92F33;*/
    color: #CCD6DD;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
}

.Menus {
    /* border: 6px double #E1E8ED; */
    margin-top: 1rem;
}

h3 {
    border: 2px solid #E1E8ED;
    background-color: #292F33;
    color: #CCD6DD;
    text-align: center;
    width: 25rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table, tr, th, td, caption {
    border: 2.5px solid #E1E8ED;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.drink-menu-table, .food-menu-table {
    background-color: #292F33;
    color: #CCD6DD;
    width: fit-content;
    margin: auto;
}

#back-to-top {
    border: 2px solid #E1E8ED;
    background-color: #292F33;
    color: #CCD6DD;
    margin-top: 1rem;
    width: fit-content;
}

h4 {
    border: 2px solid #E1E8ED;
    background-color: #292F33;
    color: #CCD6DD;
    width: max-content;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

#legend {
    display: flex;
    text-align: center;
    border: 1px solid #E1E8ED;
    margin-bottom: 1rem;
}

#survey, #write-a-complaint {
    color: #E1E8ED;
    padding: 1rem;
    margin: auto;
    width: fit-content;
}

.back-to-top {
    border: 2px solid #E1E8ED;
    background-color: #292F33;
    color: #CCD6DD;
    margin-top: 1rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.last-paragraphs {
    border: 2px solid #E1E8ED;
    background-color: #292F33;
    color: #CCD6DD;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: fit-content;
}