* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #F8FFE5;
}

.header-one {
    width: max-content;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #2EBFA5;
    background-color: #56CF9C;
    color: #4E4187;
    text-align: center;
    padding: 0.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #56CF9C;
    border: 2px solid #2EBFA5;
    border-radius: 1em;
    padding: 10px;
    flex-wrap: wrap;
}

.ul-item1, .ul-item2, .ul-item3, .ul-item4, .ul-item5, .ul-item6 {
    flex: 1;
    text-align: center;
}

/* nav {
    border: 5px double #C9CBA3;
    border-radius: 1rem;
    background-color: #723D46;
    text-align: center;
    width: 30rem;
    margin: auto;
} */

a {
    color: #4E4187;
    text-decoration: none;
    line-height: 1.5px;
}

a:hover, a:focus {
    color: #E26D5C;
}

ul {
    list-style-type: none;
}

.logo-image {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}

.main-logo-description {
    border: 2px solid #C9CBA3;
    border-radius: 1rem;
    background-color: #723D46;
    color: #C9CBA3;
    justify-content: center;
    width: 35rem;
    margin: auto;
    margin-top: 1rem;
}

#AboutUs {
    text-align: center;
    border: 3px solid #C9CBA3;
    border-radius: 1rem;
    background-color: #723D46;
    color: #C9CBA3;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
}

.Menus {
    border: 6px double #C9CBA3;
    margin-top: 1rem;
}

h3 {
    border: 2px solid #C9CBA3;
    background-color: #723D46;
    color: #C9CBA3;
    text-align: center;
    width: 25rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table, tr, th, td, caption {
    border: 2.5px solid #C9CBA3;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

.drink-menu-table, .food-menu-table {
    background-color: #723D46;
    color: #C9CBA3;
    width: fit-content;
    margin: auto;
}

#back-to-top {
    border: 2px solid #C9CBA3;
    background-color: #723D46;
    color: #C9CBA3;
    margin-top: 1rem;
    width: fit-content;
}

h4 {
    border: 2px solid #C9CBA3;
    background-color: #723D46;
    color: #C9CBA3;
    width: max-content;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

#legend {
    display: flex;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 1rem;
}

#survey, #write-a-complaint {
    padding: 1rem;
    margin: auto;
    width: fit-content;
}

.back-to-top {
    border: 2px solid #C9CBA3;
    background-color: #723D46;
    color: #C9CBA3;
    margin-top: 1rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.last-paragraphs {
    border: 2px solid #C9CBA3;
    background-color: #723D46;
    color: #C9CBA3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: fit-content;
}